<% include ../partials/header %>

<div class="container">
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-8 col-md-offset-2 col-sm-12">
            <div class="thumbnail">
                <% for(var i = 0; i < material.images.length; i++) { %>
                    <div class="thumbnail">
                        <img class="image-responsive" src="<%= material.images[i] %>">
                    </div>
                <% } %>
                <div class="caption-full">
                    <h4 class="pull-right"><%= category.name %></h4>
                    <h4><a><%= material.name %></a></h4>
                    <p><div><%= material.description %></div></p>
                    <a class="btn btn-xs btn-warning" href="/materials/category/<%= category._id %>/material/<%= material._id %>/edit">Редактировать</a>
                    <form id="delete-form" action="/materials/category/<%= category._id %>/material/<%= material._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>